.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
  background-size: cover;
  font-family: 'Default Sans', sans-serif;
                                                
}

.bg1{
  background-image: url(/images/bg1.webp);
 }

 .bg2{
  background-image: url(/images/bg2.webp);
 }

 .bg3{
  background-image: url(/images/bg3.webp);
 }

 .bg4{
  background-image: url(/images/bg4.webp);
 }

 .bg5{
  background-image: url(/images/bg5.webp);
 }